/* 
TODO: 
- compter la barre la barre de scroll dans la largeur pour éviter
l'effet de décalage quand on clique sur une div qui crée une vue plus
haute que l'écran
*/

body {
    background-color: rgb(255, 250, 238);
}



/*************************
*          HEADER
*************************/

header {
    margin-top: 50px;
    text-align: center;
}

       .header-container {
           
    }



/*************************
*          MAIN
*************************/
.hidden {
    display: none !important;
}

h1, h2 {
    font-family: 'Viaoda Libre';
}

h2 {
    margin-bottom: 15px;
}

h3, h4 {
    color: #040115;
    font-family: 'Viaoda Libre';
}

h3 {
    font-size: 0.9em;
}

h4 {
    font-size: 1.2em;
    margin-bottom: 8px;
}

h5 {
    font-size: 1.1em;
    margin-bottom: 7px;
    margin-top: 14px;
}

ul:last-child {
    margin-bottom: 8px;
}


.main-container {
    margin-left: auto; 
    margin-right: auto; 
    width: 200px;
}

  .piano-parent-container{
       display: flex;
       margin-bottom: 30px;
    }
    .piano-key-container {
        display: flex;
        flex-direction: column;   
      }
         .piano-key {
        }

            #piano-key-1 {
                margin: 0 0 -37px 0;
            }

                #piano-key-1 > h3 {
                    position: relative;
                    left: 175px;
                    top : 32px;
                }

            #piano-key-2 {
                margin: 0 0 -43px 0;
            }

                #piano-key-2 > h3 {
                    position: relative;
                    left: 175px;
                    top : 32px;
                }

            #piano-key-3 {
                margin: 0 0 -36px 0;
            }

                #piano-key-3 > h3 {
                    position: relative;
                    left: 175px;
                    top : 32px;
                }

            #piano-key-4 {
                margin: 0 0 -29px 0;
            }

                #piano-key-4 > h3 {
                    position: relative;
                    left: 175px;
                    top : 37px;
                }

            #piano-key-5 {
                margin: 0 0 -36px 0;
            }

                #piano-key-5 > h3 {
                    position: relative;
                    left: 175px;
                    top : 30px;
                }

            #piano-key-6 {
                margin: 0 0 -38px 0;
            }

                #piano-key-6 > h3 {
                    position: relative;
                    left: 175px;
                    top : 30px;
                }

            #piano-key-7 > img {
                border-bottom: 1px #000000 solid;
            }

                #piano-key-7 > h3 {
                    position: relative;
                    left: 175px;
                    top : 39px;
                }
    

    .realisations-container p {
        margin-bottom: 10px;
    }


/* Responsive */

@media (min-width: 720px) {
    .main-container {
        margin-left: 100px; 
        margin-right: 100px;
    }

    #content-mon-projet, 
    #content-technologies, 
    #content-formation, 
    #content-experience, 
    #content-realisations,
    #content-disponibilites,
    #content-coordonnees {
        position: relative;
                    left: 400px;
                    top : -300px;
    }
}